name: Pipeline

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        brand: ['vrtnu', 'vtmgo', 'vier']
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8 
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Inject credentials
        run: echo "$CREDENTIALS" >> local.properties
        shell: bash
        env:
         CREDENTIALS : ${{ secrets.CREDENTIALS }} 
      - name: E2E ${{ matrix.brand }}
        run: ./gradlew :${{ matrix.brand }}:test
      - uses: actions/upload-artifact@v2
        with:
          name: Package
          path: build/libs
